<div class="task-group surface-card px-3">
    <div class="group-header" pDroppable (onDrop)="drop()">
        <div class="flex align-items-center justify-content-between">
            <div class="group-info">
                <div *ngIf="groupInfo?.category == 'todo'" class="indication-box" style="border-color:#dc2f02;"></div>
                <div *ngIf="groupInfo?.category == 'in-progress'" class="indication-box" style="border-color:#347D39;">
                </div>
                <div *ngIf="groupInfo?.category == 'done'" class="indication-box" style="border-color:#bb84e8;"></div>

                <span class="font-bold text-700 text-2xl mr-2">{{groupInfo?.title}}</span>
                <p-badge [value]="groupInfo?.count" severity="danger"></p-badge>
            </div>
            <div class="menu-actions">
                <p-menu #menu [model]="menuActions" [popup]="true"></p-menu>
                <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
            </div>
        </div>
        <div class="text-600 mt-1">{{groupInfo?.description}}</div>
    </div>
    <div class="group-content">
        <div *ngFor="let taskItem of taskItems;" class="p-card p-component mb-2 hover:border-primary">
            <div class="p-card-body">
                <div class="flex justify-content-between align-items-center">
                    <div class="p-card-title text-800">{{taskItem.title}}</div>
                    <div class="quick-actions">
                        <button pRipple type="button" class="menu-icon hover:border-primary mr-1">
                            <i class="pi pi-stop text-700"></i>
                        </button>
                        <button pRipple type="button" class="menu-icon hover:border-primary mr-1">
                            <i class="pi pi-play text-700"></i>
                        </button>
                        <button pRipple type="button" class="menu-icon hover:border-primary mr-1">
                            <i class="pi pi-check text-700"></i>
                        </button>
                    </div>
                </div>
                <div class="p-card-subtitle">{{taskItem.description}}</div>
            </div>
        </div>
    </div>
    <button pButton pRipple class="p-button-raise mt-2 mx-2 w-full" icon="pi pi-plus" type="button"
        label="Add New Task"></button>
</div>