:host {
  height: -webkit-fill-available;
}

.task-group {
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  width: 425px;
  padding: 0.5rem;
  border-radius: 8px;
}

.group-header {
  height: 4rem;
  padding: 0.5rem;
}

.indication-box {
  background-color: rgba(70, 149, 74, 0.15);
  // border-color: rgb(52, 125, 57);
  border-width: 2px;
  border-style: solid;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  flex-shrink: 0;
  margin-right: 8px;
  display: inline-block;
}

.group-content{
  padding: 0.5rem;
  overflow-y: scroll;
  height: calc(100% - var(--app-header-height));

  .p-card{
    background-color: whitesmoke !important;
  }
}

.group-content::-webkit-scrollbar {
  width: 0.2rem;
  height: 2rem;
}
 
.group-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #ffffff;
}
 
.group-content::-webkit-scrollbar-thumb {
  background-color: var(--app-primary-color);
  outline: 0.5px solid slategrey;
}

.menu-icon {
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 6px;
  border: 1px solid var(--surface-border);
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  text-decoration: none;
  /* To make button clickable */
  cursor: pointer;

  i {
    color: var(--surface-700);
    transition: all 0.2s;
  }
}

button.use-accent-ripple {
  background: var(--app-primary-color) !important;
}

/* To use Custom Ripple effect color*/
button:not(.use-accent-ripple) {
  .p-ink {
    background: rgba(#261140, 0.3) !important;
  }
}