<div class="card flex justify-content-center">
    <form action="#" class="grid gap-2 p-3" [formGroup]="taskItemFormGroup">
        <span class="p-float-label w-full">
            <input pInputText id="title" formControlName="title" class="p-inputtext-sm w-full" autofocus />
            <label htmlFor="title">Title</label>
        </span>
        <span class="p-float-label w-full">
            <textarea id="description" rows="5" cols="30" pInputTextarea formControlName="description"
                class="w-full"></textarea>
            <label for="description">Description</label>
        </span>
        <button pButton pRipple class="p-button-raise w-full h-3rem" icon="pi pi-bolt" type="button"
            label="{{buttonTitle}}" (click)="save()"></button>
    </form>
</div>