:host {
  display: block;
  height: 100%;
}

.layout-wrapper {
  background-color: var(--app-background-color);
  width: 100% !important;
  height: 100% !important;
}

.layout-header {
  height: 5rem !important;

  .logo {
    width: 150px;
  }

  .quick-actions {
    .menu-icon {
      margin-right: 0.5rem;
    }

    button.use-accent-ripple {
      background: var(--app-primary-color) !important;
    }

    /* To use Custom Ripple effect color*/
    button:not(.use-accent-ripple) {
      .p-ink {
        background: rgba(#261140, 0.3) !important;
      }
    }
  }
}

.menu-icon {
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 6px;
  border: 1px solid var(--surface-border);
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  text-decoration: none;
  /* To make button clickable */
  cursor: pointer;

  i {
    color: var(--surface-700);
    transition: all 0.2s;
  }
}

.menu-icon-and-text {
  width: 5rem !important;
  height: 2rem !important;
  border-radius: 6px;
  border: 1px solid var(--surface-border);
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s;
  text-decoration: none;
  /* To make button clickable */
  cursor: pointer;

  i {
    color: var(--surface-700);
    transition: all 0.2s;
  }
}

.layout-content {
    top: 5rem !important;
    margin-top: 5rem !important;
    padding-top: 0.5rem;
  }
  