<div class="layout-header px-5 py-3 flex justify-content-between border-bottom-1 border-black-alpha-20">
    <img class="w-10rem" src="assets/images/qwik-task-logo-transparent.svg" alt="Qwik Task Logo">
    <div class="align-items-center flex font-bold text-2xl text-800">
        <ng-container *ngIf="editTitle;then editTitleEle else viewTitleEle"></ng-container>
        <ng-template #viewTitleEle>
            <i class="pi pi-chart-bar mr-2"></i>
            <span (dblclick)="editTitle=true">{{title}}</span>
        </ng-template>
        <ng-template #editTitleEle>
            <span class="p-float-label">
                <input pInputText id="title" [(ngModel)]="title" class="p-inputtext-sm" (keyup.enter)="editTitle=false"
                    (focusout)="editTitle=false" autofocus />
                <label htmlFor="title">title</label>
            </span>
        </ng-template>
    </div>
    <div class="flex gap-2 align-items-center">
        <button pRipple type="button" class="menu-icon hover:border-primary" (click)="refreshTaskBoard()">
            <i class="pi pi-refresh text-700" [class.pi-spin]="loadingTasks"></i>
        </button>
        <button pRipple type="button" class="menu-icon-and-text hover:border-primary use-accent-ripple button-primary">
            <i class="pi pi-bolt text-white"></i>
            <span class="font-bold">Sync</span>
        </button>
        <a pRipple target="_blank" href="https://github.com/Suresh-Kumar-A/qwiktask"
            class="menu-icon hover:border-primary">
            <i class="pi pi-github text-black-alpha-90"></i>
        </a>
    </div>
</div>
<div class="layout-content px-5 py-3 flex gap-3">

    <div *ngFor="let item of Category | keyvalue: customOrder"
        class="surface-card w-30rem p-2 flex flex-column m-0 justify-content-evenly border-1 border-400 border-round">
        <div class="flex gap-1 align-items-center px-1 w-full" name="task-group-info">
            <div class="indication-box" [ngClass]="item.key | lowercase"></div>
            <div class="font-semibold text-2xl text-700 mr-1">{{item.value}}</div>
            <p-badge [value]="getTasksCount(item.key)" severity="danger"></p-badge>
        </div>
        <div class="my-2 flex flex-column overflow-y-auto task-group-content" style="min-height: 80% !important;"
            pDroppable (drop)="drop(item.key)" [ngClass]="{'border-1 border-dashed' : getTasksCount(item.key) == '0'}">
            <div *ngFor="let task of getTasks(item.key)" draggable="true" pDraggable (onDragStart)="dragStart(task)"
                class="surface-card p-2 border-1 border-400 border-round flex flex-column gap-1 m-1 h-fit"
                (onDragEnd)="dragEnd()" (dblclick)="editTask(task)">
                <span class="font-bold flex justify-content-between">
                    {{task.title}}
                    <button pRipple type="button" class="menu-icon mini hover:border-red-800"
                        (click)="deleteTask(task)">
                        <i class="pi pi-trash text-red-600" style="font-size: 1rem"></i>
                    </button>
                </span>
                <span class="text-700 font-medium text-sm">{{task.description}}</span>
            </div>
        </div>
        <button pButton pRipple class="p-button-raise w-full h-3rem" icon="pi pi-plus" type="button"
            label="Add New Task" (click)="addNewTask(item.key)"></button>
    </div>
</div>