<div class="layout-wrapper px-5">
    <div class="layout-header flex align-items-center justify-content-between">
        <img class="logo" src="assets/images/qwik-task-logo-transparent.svg" alt="Qwik Task Logo">
        <p-breadcrumb class="max-w-full" [model]="breadcrumbItems" ngClass="text-700"></p-breadcrumb>
        <div class="quick-actions">
            <button pRipple type="button" class="menu-icon hover:border-primary">
                <i class="pi pi-plus text-700"></i>
            </button>
            <button pRipple type="button" class="menu-icon hover:border-primary">
                <i class="pi pi-refresh text-700"></i>
            </button>
            <button pRipple type="button" class="menu-icon hover:border-primary">
                <i class="pi pi-trash text-700"></i>
            </button>
            <button pRipple type="button" class="menu-icon-and-text hover:border-primary use-accent-ripple mr-2">
                <i class="pi pi-bolt text-white"></i>
                <span class="font-bold">Sync</span>
            </button>
            <a pRipple target="_blank" href="https://github.com/Suresh-Kumar-A/qwiktask"
                class="menu-icon hover:border-primary">
                <i class="pi pi-github text-black-alpha-90"></i>
            </a>
            <button pRipple type="button" class="menu-icon hover:border-primary">
                <i class="pi pi-comments text-700"></i>
            </button>
        </div>
    </div>
    <div class="layout-content">
        <h2 class="text-700"><i class="pi pi-file"></i> {{projectName}}</h2>
        <div class="layout-content-inner flex justify-content-between">

            <app-taskgroup [groupInfo]="todoTaskGroupInfo" [taskItems]="taskItems"></app-taskgroup>

            <app-taskgroup [groupInfo]="inprogressTaskGroupInfo" [taskItems]="taskItems"></app-taskgroup>

            <app-taskgroup [groupInfo]="doneTaskGroupInfo" [taskItems]="taskItems"></app-taskgroup> 

        </div>
    </div>
</div>